sudo: false
language: node_js
notifications:
  email: false
node_js:
  - 4.8.4
  - 6.9.4
  - 7.4.0
  - "lts/*"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
before_install:
  - npm -g install npm@latest
script:
  - npm run cover
  - npm run coveralls
